/* Global
--------------------------------------------- */
body {
  font-family: 'Raleway', sans-serif;
}
/* Navbar
--------------------------------------------- */
.navbar {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 20px 0;
  color: #ffffff;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-size: 20px;
}
.navbar .nav li a {
  margin-top: 5px;
  color: #ffffff;
}
.navbar .nav li a:hover {
  color: #BDBDBD;
}
.navbar .navbar-wrapper {
  position: absolute;
}
.navbar .navbar-nav > li > a {
  color: #ffffff;
}
#github {
  margin-right: 20px;
}

/* Profile
--------------------------------------------- */
.profile-pic {
  width: 30%;
  border-radius: 150px;
  box-shadow: 2px 2px 3px #000000;
  position: center;
}
.pulse {
  color: #ffffff;
  text-align: center;
  padding-top: 40%;
  font-size: 5em;
}
.fa-phone,
.fa-envelope {
  margin-right: 10px;
}

/* Portfolio
--------------------------------------------- */
.connect-pic {
  position: relative;
  margin-top: 5%;
  padding-right: 15%;
}
.connect-pic:hover {
  opacity: 0.8;
}
.connect p {
  font-size: 15px;
  text-align: right;
  margin-top: 5%;
  margin-bottom: 10;
  padding-left: 15%;
}
.planit {
  padding-bottom: 300px;
}
.planit-pic {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 15%;
}
.planit-pic:hover {
  opacity: 0.8;
}
.planit-title {
  margin-top: 10%;
}
.planit p {
  font-size: 15px;
  text-align: left;
  margin-top: 5%;
  padding-right: 15%;
  padding-bottom: 100px;
}

/* Parallax
--------------------------------------------- */
body,
html {
  overflow: hidden;
  background-color: #00838F;
}
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-perspective: 1px;
  -ms-perspective: 1px;
  perspective: 1px;
}
.parallax .group {
  position: relative;
  height: 100vh;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax .group .layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}
.parallax .group .base {
  -webkit-transform: translateZ(0);
  height: 100%;
  z-index: -2;
}
.parallax .group .scroll-fill {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0.5;
}
.parallax .group .logo {
  position: fixed;
  -webkit-transform: translateZ(-3px) scale(4);
  -ms-transform: translateZ(-3px) scale(4);
  transform: translateZ(-3px) scale(4);
  background-image: url("../img/profile.png");
  right: 0px;
  width: 20vw;
  margin-right: -50%;
  margin-top: 5%;
  color: white;
  font-size: 50px;
  letter-spacing: 10px;
  text-align: center;
  margin: auto;
  margin-top: 50%;
  z-index: -9;
}
.parallax .group .bg {
  position: fixed;
  -webkit-transform: translateZ(-6px) scale(7);
  -ms-transform: translateZ(-6px) scale(7);
  transform: translateZ(-6px) scale(7);
  background-image: url("../img/skiing.jpg");
  background-size: 100%;
  height: 100vh;
  z-index: -10;
}
.parallax .group .bg2 {
  position: fixed;
  margin-top: 270%;
  -webkit-transform: translateZ(-6px) scale(7);
  -ms-transform: translateZ(-6px) scale(7);
  transform: translateZ(-6px) scale(7);
  background-image: url("../img/sailing.jpg");
  z-index: 1;
}
.parallax .group .content {
  position: relative;
  min-height: 300px;
  width: 100%;
  line-height: 40px;
  color: white;
  font-size: 20px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.parallax .group .content h1 {
  font-size: 3em;
}
.parallax .group .content .mountains p {
  margin: auto;
  margin-top: 25px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  clear: right;
  padding-bottom: 100px;
}
.parallax .group #about {
  background-color: #26C6DA;
}
.parallax .group #portfolio {
  background-color: #00838F;
}
.parallax .group .mountain5 {
  -webkit-transform: translateZ(-1px) scale(2);
  -ms-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  background-image: url("../img/mountain5.png");
  margin-top: 80%;
  z-index: -3;
}
.parallax .group .mountain5 .cover {
  margin-top: 35%;
  width: 100%;
  height: 100%;
  background-color: #26C6DA;
}
.parallax .group .mountain4 {
  position: fixed;
  -webkit-transform: translateZ(-2px) scale(3);
  -ms-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
  background-image: url("../img/mountain4.png");
  margin-top: 100%;
  z-index: -4;
}
.parallax .group .mountain3 {
  position: fixed;
  -webkit-transform: translateZ(-3px) scale(4);
  -ms-transform: translateZ(-3px) scale(4);
  transform: translateZ(-3px) scale(4);
  background-image: url("../img/mountain3.png");
  margin-top: 95%;
  z-index: -5;
}
.parallax .group .mountain2 {
  position: fixed;
  -webkit-transform: translateZ(-4px) scale(5);
  -ms-transform: translateZ(-4px) scale(5);
  transform: translateZ(-4px) scale(5);
  background-image: url("../img/mountain2.png");
  margin-top: 120%;
  z-index: -6;
}
.parallax .group .mountain1 {
  position: fixed;
  -webkit-transform: translateZ(-5px) scale(6);
  -ms-transform: translateZ(-5px) scale(6);
  transform: translateZ(-5px) scale(6);
  background-image: url("../img/mountain1.png");
  margin-top: 130%;
  z-index: -7;
}
.parallax .group .wave5 {
  -webkit-transform: translateZ(-1px) scale(2);
  -ms-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  background-image: url("../img/wave5.png");
  margin-top: 500%;
  z-index: 6;
}
.parallax .group .wave5 .cover {
  margin-top: 30%;
  width: 100%;
  height: 100%;
  background-color: #00838F;
}
.parallax .group .wave4 {
  position: fixed;
  -webkit-transform: translateZ(-2px) scale(3);
  -ms-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
  background-image: url("../img/wave4.png");
  margin-top: 480%;
  z-index: 5;
}
.parallax .group .wave3 {
  position: fixed;
  -webkit-transform: translateZ(-3px) scale(4);
  -ms-transform: translateZ(-3px) scale(4);
  transform: translateZ(-3px) scale(4);
  background-image: url("../img/wave3.png");
  margin-top: 470%;
  z-index: 4;
}
.parallax .group .wave2 {
  position: fixed;
  -webkit-transform: translateZ(-4px) scale(5);
  -ms-transform: translateZ(-4px) scale(5);
  transform: translateZ(-4px) scale(5);
  background-image: url("../img/wave2.png");
  margin-top: 510%;
  z-index: 3;
}
.parallax .group .wave1 {
  position: fixed;
  -webkit-transform: translateZ(-5px) scale(6);
  -ms-transform: translateZ(-5px) scale(6);
  transform: translateZ(-5px) scale(6);
  background-image: url("../img/wave1.png");
  margin-top: 525%;
  z-index: 2;
}
.parallax .based {
  height: 100%;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: transparent;
}
